{% extends 'mail/base.html' %}


{% block mailform %}
    <div class="row">
        <div class="col-md-12">
            <h1>Mail form</h1>
            <div class="alert alert-success" id="success-message" role="alert">
                Sended!
            </div>
            <div class="alert alert-danger" id="error-message" role="alert">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form method="POST" data-check-email-url="/">
                {% csrf_token %}
                {{ form.as_p }}
                <input name="type" value="mail" hidden>
                <button class="btn-send" id="send_message" type="button">Send</button>
            </form>
        </div>
    </div>

{% endblock %}



{% block javascript %}
    <script>
        $("#send_message").click(function () {
            let form = $(this).closest("form");
            let csrftoken = $("[name=csrfmiddlewaretoken]").val();
            $.ajax({
                url: form.attr("data-check-email-url"),
                type: 'POST',
                headers:{
                    "X-CSRFToken": csrftoken
                },
                data: form.serialize(),
                dataType: 'json',
                success: function(data) {
                    if(data['status'] == 1){
                        $('#success-message').show();
                        $('#error-message').hide();
                    }
                    else if (data['status'] == 12) {
                        $('#error-message-auth').show();
                        $('#error-message-auth').empty();
                        $('#error-message-auth').append("First you're need to signup!");
                        $('#success-message-auth').hide();
                    }
                    else {
                        $('#error-message').show();
                        $('#error-message').empty();
                        $('#success-message').hide();
                        if(data['title'] != ''){
                            $('#error-message').append(data['title'].concat('<br />'));
                        }
                        if(data['email'] != ''){
                            $('#error-message').append(data['email'].concat('<br />'));
                        }
                        else if (data['email_is_not_valid'] != '') {
                            $('#error-message').append(data['email_is_not_valid'].concat('<br />'));
                        }
                        if(data['text'] != ''){
                            $('#error-message').append(data['text'].concat('<br />'));
                        }
                    }
                },
                error: function() {
                    $('#error-message').show();
                    $('#error-message').empty();
                    $('#error-message').append('Something is going wrong...');
                    $('#success-message').hide();
                }
            })
        });
      </script>
{% endblock %}